@model Events.Domain.Entities.AlertaEntity

<div class="row">
    <dt>
        @Html.DisplayNameFor(model => model.IdAlerta)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.IdAlerta)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.IdEvento)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.IdEvento)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.NivelAlerta)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.NivelAlerta)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.MensagemAlerta)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.MensagemAlerta)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.DataHoraAlerta)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.DataHoraAlerta)
    </dd>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdAlerta" />
        <input type="submit" value="Deletar" class="btn btn-danger" />
    </form>


</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>
