@model IEnumerable<Events.Domain.Entities.AlertaEntity>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Criar Novo Alerta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdAlerta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NivelAlerta)
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdAlerta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NivelAlerta)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdAlerta">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdAlerta">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdAlerta">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>