@model IEnumerable<Events.Domain.Entities.EventoEntity>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Criar Novo Alerta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntensidadeEvento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdEvento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoEvento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IntensidadeEvento)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdEvento">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdEvento">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdEvento">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>